.bgblue {
    background-color: rgb(38, 74, 107); 
}
.bgblue i{
    font-size: 30px;
    color:white;
    padding-right: 22px;
}
.whitee{
    background-color: white; 
}
.carousel img{
    width:960px !important;
    height: 450px !important;
}
.no2{
    background-color: rgb(38, 74, 107); 
    color: white;
    padding:40px;
    
}
.aqui{
    background-color: rgb(50, 73, 94); 
   
}
.bluecon{
  
    filter: invert(80%);

}

.whiteboc{
  padding: 50px;
}

.ppp{
  width:320px;
}

.lol 
  img {
    float: left;
    margin-right: 22px;
  }
 .lol p {
    display: inline;
  }






.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(60%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(100%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}




::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
 ::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #212f6d8e; }
  